body{
    background-color: lightgray;
}

p{
    font-family: monospace
}


.pageTitle{
    color: green;
}
.Author{
    width: 100px;
    height: 130px;
    padding: 20px;
}

.authorText{
    font-size: 16px;
}