<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../resources/CSS/Shopping.css">
        <script type="text/javascript" src="../resources/Javascript/Shopping.js"></script>
    </head>
    <body>
        <header>
            <div class="backgroundImage">
                <div class="navBar">
                    <a class="navButton" href="../Index.html">Home</a>
                    <a class="navButton" href="">Mens</a>
                    <a class="navButton" href="">Wemons</a>
                    <a class="navButton" href="">Kids</a>
                    <a class="navButton" href="">Workout Plans</a>
                </div>
            </div>
        </header>
        <div id="mensDropDown"> 
            <h1>MENS</h1>
            <div class="shoes">
                <h3>Shoes</h3>
                <a target="_blank"  href="https://www.amazon.com/gp/product/B07H98MLN6/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07H98MLN6&linkCode=as2&tag=icauto-20&linkId=12878418c4a1815a0790f8d2036c6840"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B07H98MLN6&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=icauto-20" ></a>

                <a target="_blank"  href="https://www.amazon.com/gp/product/B07H96Y7RB/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07H96Y7RB&linkCode=as2&tag=icauto-20&linkId=52fcc81ef705eb4e7032296ef8e4bfd6"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B07H96Y7RB&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=icauto-20" ></a>

                <a target="_blank"  href="https://www.amazon.com/gp/product/B07LCNZXQD/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07LCNZXQD&linkCode=as2&tag=icauto-20&linkId=c4be5ce550bf74317be909484600bd7b"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B07LCNZXQD&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=icauto-20" ></a>
            </div>
            <div class="clothing">
                <h3>Clothing</h3>
                <a target="_blank"  href="https://www.amazon.com/gp/product/B08LLH4L3T/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B08LLH4L3T&linkCode=as2&tag=icauto-20&linkId=a47c78f403dec961962297ea2239b786"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B08LLH4L3T&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=icauto-20" ></a>

                <a target="_blank"  href="https://www.amazon.com/gp/product/B07HLVTX7Z/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07HLVTX7Z&linkCode=as2&tag=icauto-20&linkId=e1a4213358e10b609a37c04385066461"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B07HLVTX7Z&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=icauto-20" ></a>

                <a target="_blank"  href="https://www.amazon.com/gp/product/B07FGYTLCT/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07FGYTLCT&linkCode=as2&tag=icauto-20&linkId=7f38a234c7fb0757b6a707cb01c84347"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B07FGYTLCT&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=icauto-20" ></a>
            </div>
            <div class="hats">
                <h3>Lids</h3>
                
                <a target="_blank"  href="https://www.amazon.com/gp/product/B073DTZ6KZ/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B073DTZ6KZ&linkCode=as2&tag=icauto-20&linkId=e983821d2241ba78e0c3baaa6131cb02"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B073DTZ6KZ&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=icauto-20" ></a>
                
                <a target="_blank"  href="https://www.amazon.com/gp/product/B077KD6D9Z/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B077KD6D9Z&linkCode=as2&tag=icauto-20&linkId=3a4120543097f9998b8c6a9dec2c4f5f"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B077KD6D9Z&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=icauto-20" ></a>
                
                <a target="_blank"  href="https://www.amazon.com/gp/product/B07RMBWQK6/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07RMBWQK6&linkCode=as2&tag=icauto-20&linkId=c046ca11dbf5221ff1b3e18e6c302b1d"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B07RMBWQK6&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=icauto-20" ></a>
                
            </div>
  
        </div>
        <div id="wemonsDropDown">
        <h1>Wemons</h1>
            <div class="shoes">
                <h3>Shoes</h3>
                <a target="_blank"  href="https://www.amazon.com/gp/product/B07XZ8LT2K/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07XZ8LT2K&linkCode=as2&tag=icauto-20&linkId=f8d5186ea3f9fdb2398c07bf3fa89057"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B07XZ8LT2K&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=icauto-20" ></a>
                
                <a target="_blank"  href="https://www.amazon.com/gp/product/B07NLDJ8BY/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07NLDJ8BY&linkCode=as2&tag=icauto-20&linkId=5e5a68467a9c1c5ce92f7786e13e35b6"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B07NLDJ8BY&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=icauto-20" ></a>
                
                <a target="_blank"  href="https://www.amazon.com/gp/product/B071K7BLZW/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B071K7BLZW&linkCode=as2&tag=icauto-20&linkId=b6dadfe28c2a4617783e5936294b59e4"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B071K7BLZW&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=icauto-20" ></a>
            </div>
            <div class="clothing">
                <h3>Clothing</h3>
                <a target="_blank"  href="https://www.amazon.com/gp/product/B08SPY5KYG/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B08SPY5KYG&linkCode=as2&tag=icauto-20&linkId=d226cb2d41c90d8bd9c9353065955553"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B08SPY5KYG&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=icauto-20" ></a>
                
                <a target="_blank"  href="https://www.amazon.com/gp/product/B071WLPGGX/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B071WLPGGX&linkCode=as2&tag=icauto-20&linkId=2a5bfe682ba7aee9b771398ad25ed3c7"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B071WLPGGX&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=icauto-20" ></a>
                
                <a target="_blank"  href="https://www.amazon.com/gp/product/B084GX16S1/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B084GX16S1&linkCode=as2&tag=icauto-20&linkId=3c4f66a56cf4980ff6aa52f364276b68"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B084GX16S1&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=icauto-20" ></a>
            </div>
            <div class="hats">
                <h3>Hats</h3>
                <a target="_blank"  href="https://www.amazon.com/gp/product/B0875MLM2V/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0875MLM2V&linkCode=as2&tag=icauto-20&linkId=ead9a125953b35bd68154be1d1321f4b"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B0875MLM2V&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=icauto-20" ></a>
                
                <a target="_blank"  href="https://www.amazon.com/gp/product/B01N97IPZG/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01N97IPZG&linkCode=as2&tag=icauto-20&linkId=4d1dc7f29c51100bc11ab1ce72e3d7df"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B01N97IPZG&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=icauto-20" ></a>
                
                <a target="_blank"  href="https://www.amazon.com/gp/product/B00VHL3IPA/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00VHL3IPA&linkCode=as2&tag=icauto-20&linkId=1bc237af21266a3944a0ba88a99ca38b"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00VHL3IPA&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=icauto-20" ></a>
            </div>
            
        </div>
        
    </body>
    <footer class="footer">
            <p>contact us</p>
            <p>follow us on instagram!</p>
             <div class="social">
            <a target="blank" href="https://www.instagram.com/staying.fit14/"><img id="inst" src="../resources/Images/instagramBlack.png" > </a>
            </div>
             <p>TBD is owned and operated by ICGamesMarket LLC.</p>
        </footer>
</html>