<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../resources/CSS/Workout.css">
    </head>
    <body>
        <header>
            <div class="backgroundImage">
                <div class="navBar">
                    <a class="navButton" href="../index.html">Home</a>
                    <a class="navButton" href="Shopping.html">Shopping</a>
                    <a class="navButton" href="">Workout Plans</a>
                </div>
            </div>
        </header>
        <article class="goal">
            The most imporant part of becoming fit, is keeping motivated. 
        </article>
        <div class="fatLoss">
            <h3>Burn Fat</h3>
            <article>
                To burn fat, go to the gym and run
            </article>
        </div>
        <div class="muscleGain">
            <h3>Build Muscle</h3>
            <article>
                To build Musle, go to the gym and lift some weights
            </article>
        </div>
        
    </body>
    <footer class="footer">
            <p>contact us</p>
            <p>follow us on instagram!</p>
             <div class="social">
            <a target="blank" href="https://www.instagram.com/staying.fit14/"><img id="inst" src="../resources/Images/instagramBlack.png" > </a>
            </div>
             <p>TBD is owned and operated by ICGamesMarket LLC.</p>
        </footer>
</html>