* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

.header{
/*    background-color: blue;*/
    padding: 20vw;
    text-align: center;
    background-image:  url(../Pictures/donny-jiang-EH_aX__-wG0-unsplash.jpg);
    background-position: right;
    background-size: cover;
    color: aqua;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}

.home-button{
    left: 10px;
    top: 10px;
}

.blog-button{
    right: 10px;
    top: 10px;
}

.about-button{
    right: 90px;
    top: 10px;
}

.about-button, .blog-button, .home-button{
    position: absolute;
    border-style: solid;
    border-width: 2px;
    border-color: aqua;
    color:aqua;
    width: 75px;
    border-radius: 20px;
    text-decoration: none;
}

.social{
    margin: auto;
    width: 30%;
    padding: 20px;
}

#inst{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.content{
    
    margin: auto;
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

.footer{
    background-color: #333;
    padding = 10px;
    color: white;
    text-align: center;
    height: 20vw;
}

.row-one, .row-two, .row-three, .row-four{
    width: 100%;
    margin-bottom: 20px;
}

.contentAd{
    text-align: center;
    display: inline-block;
    width: 30%;
}

.contentAd:hover{
    opacity: 75%;
}

.adPic{
    width: 90%;
    height: 23vw;
}

/***********************************************************************/
/*Nav Bar                                                              */
/***********************************************************************/


ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: arial;
    text-align: left;
    width: 100%;
    position: sticky;
    top: 0;
}
ul.topnav li {float: left;}
ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  font-size: 17px;
  border-right: 1px solid #bbb;
}
ul.topnav li a:hover:not(.active) {
	background-color: #ddd;
    color: black;
}
ul.topnav li a.active {
	background-color: #4CAF50;
}
ul.topnav li.right {
	float: right;
}
@media screen and (max-width: 720px) {
  ul.topnav li{
	  width: 100%;
  }
  ul.topnav a{
	  width: 100%;
  }
}